Flask
opencv-python-headless
numpy
joblib
scikit-learn
gtts
pygame
pymongo
cryptography
requests
pytz
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
google-auth-transport-requests
googleapiclient
gspread-formatting
gunicorn
